.sidebar-link {
  outline: none;
  text-decoration: none;
  position: relative;
  margin-left: -20%;
  padding: 0.5rem 0 0.5rem 1rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    padding: 0.25rem 0 0.25rem 0.5rem;
  }

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }

  &.btn {
    transition: all 0.3s;
    border-radius: 30px;
    width: 100%;

    @media screen and (max-width: 900px) {
      padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    }

    @media screen and (orientation: portrait) and (max-device-width: 480px) {
      padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 1px 2px 3px rgba($color: #000, $alpha: 0.1);
    }

    &:active {
      transform: scale(1);
      box-shadow: 1px 1px 2px rgba($color: #000, $alpha: 0.05);
    }
  }

  p {
    color: #fff;
    margin-left: 1rem;

    @media screen and (max-width: 1200px) {
      margin-left: 0.5rem;
    }
  }

  &.active {
    background-color: #fff;

    p {
      color: #107360;
      text-transform: uppercase;
      letter-spacing: 1px;

      @media screen and (max-width: 900px) {
        font-size: 0.9rem;
        letter-spacing: 0;
      }
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      right: 0px;
    }

    &:after {
      top: -11px;
      background: radial-gradient(circle at top left, #107360 10px, white 11px);
    }

    &:before {
      bottom: -11px;
      background: radial-gradient(
        circle at bottom left,
        #107360 10px,
        white 11px
      );
    }

    svg path {
      fill: #107360;
    }

    &.dashboard-icon {
      svg path {
        fill: transparent;
        stroke: #107360;
      }
    }
  }

  &.dark.active {
    background-color: #111;
    p {
      color: #1ccdaa;
    }

    &:after {
      top: -11px;
      background: radial-gradient(circle at top left, #16a085 10px, #111 11px);
    }

    &:before {
      bottom: -11px;
      background: radial-gradient(
        circle at bottom left,
        #16a085 10px,
        #111 11px
      );
    }

    svg path {
      fill: #1ccdaa;
    }

    &.dashboard-icon {
      svg path {
        fill: transparent;
        stroke: #1ccdaa;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;

    svg {
      @media screen and (max-width: 900px) {
        width: 23px;
        height: auto;
      }

      @media screen and (max-width: 768px) {
        width: 20px;
        height: auto;
      }
    }
  }
}
