.recent-movements {
  height: 100%;
  max-height: 87vh;
  overflow-y: scroll;

  @media screen and (max-width: 1200px) {
    max-height: 105vh;
  }

  &:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  // @media screen and (max-width: 1350px) {
  //   max-height: 100vh;
  // }

  &::-webkit-scrollbar {
    width: 0.6rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar {
    width: 0.6rem;
  }

  &:hover::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba($color: #888, $alpha: 0.25);
    border-radius: 15px;

    &:hover {
      background-color: rgba($color: #888, $alpha: 0.35);
    }
  }

  h2 {
    letter-spacing: 3px;
    margin-bottom: 2rem;

    @media screen and (max-width: 1200px) {
      font-size: 1.35rem;
      letter-spacing: 2px;
    }
  }

  &__item {
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 0.3rem;
    background-color: rgba($color: #fff, $alpha: 0.6);
    border: 1px solid transparent;
    border-left: 3px solid transparent;
    margin-bottom: 1rem;

    &.dark {
      background-color: rgba($color: #000, $alpha: 0.25);
    }

    .msg-info {
      margin-top: 0.5rem;

      span {
        opacity: 0.8;
      }
    }

    &.income {
      border-left: 3px solid #16a085;
      &:hover {
        border: 1px solid #16a085;
        border-left: 3px solid #16a085;
      }
    }

    &.expense {
      border-left: 3px solid #a43125;
      &:hover {
        border: 1px solid #a43125;
        border-left: 3px solid #a43125;
      }
    }

    &.debt {
      border-left: 3px solid #d8890b;
      &:hover {
        border: 1px solid #d8890b;
        border-left: 3px solid #d8890b;
      }
    }

    &.stock {
      border-left: 3px solid #2c8ac7;
      &:hover {
        border: 1px solid #2c8ac7;
        border-left: 3px solid #2c8ac7;
      }
    }
  }
}
