.modal {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  max-width: 550px;
  min-height: 30%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  z-index: 10;

  @media screen and (max-width: 1024px) {
    width: 50%;
  }

  @media screen and (max-width: 900px) {
    width: 60%;
  }

  &.dark {
    background-color: #222;

    .modal__title {
      border-bottom: 1px solid #555;
    }

    .modal__setting {
      select * {
        background-color: #444;
      }

      input {
        &::-webkit-calendar-picker-indicator {
          filter: invert(100%);
        }
      }
    }
  }

  &.locked {
    width: fit-content;
    min-height: fit-content;
    border-radius: 15px;
    padding: 1.5rem;

    @media screen and (max-width: 768px) {
      padding: 1.2rem;
    }

    .code {
      letter-spacing: 5px;
      padding: 0.2rem;
      outline: none;
      width: 60%;
      margin: 0 auto;
      font-size: 1rem;
      margin-bottom: 1.5rem;
      text-align: center;
      color: inherit;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #16a085;

      @media screen and (max-width: 768px) {
        width: 75%;
      }
    }

    .row {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($color: #888, $alpha: 0.3);
      }

      button {
        cursor: pointer;
        min-width: 7.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        color: inherit;
        background-color: transparent;
        border: none;
        padding: 1rem;
        transition: all 0.2s;

        @media screen and (max-width: 768px) {
          min-width: 6rem;
        }

        &.code-btn {
          font-size: 1rem;
          &.delete {
            color: #c0392b;
          }
          &.enter {
            color: #16a085;
          }
        }

        &:disabled {
          cursor: not-allowed;

          &:hover {
            background-color: transparent;
          }
        }

        &:not(:last-child) {
          border-right: 1px solid rgba($color: #888, $alpha: 0.3);
        }

        &:hover {
          background-color: rgba($color: #888, $alpha: 0.3);
        }
      }
    }
  }

  @media screen and (max-width: 1400px) {
    min-height: 40%;
  }

  @media screen and (max-width: 700px) {
    width: 80%;
  }

  &.show {
    top: 50%;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid #ccc;

    h2 {
      letter-spacing: 2px;
    }

    span {
      cursor: pointer;
      font-size: 1.7rem;
      font-weight: bold;
      color: #c0392b;
      transition: all 0.1s;

      &:hover {
        transform: scale(1.075);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  &__info {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.7rem 1rem;

    @media screen and (max-width: 768px) {
      padding: 0.3rem 0.6rem;
    }
  }

  &__setting {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 0.6rem auto;
    }

    select,
    input {
      color: inherit;
      width: 35%;
      border: none;
      background: transparent;
      font-size: 1rem;
      border-bottom: 1px solid #107360;
      outline: none;
      padding: 0.3rem 1rem;
      transition: all 0.3s;

      @media screen and (orientation: portrait) and (max-device-width: 480px) {
        width: 42%;
      }

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        outline: none;
      }
    }

    input:focus {
      width: 50%;
      border: 1px solid #107360;
      border-radius: 3px;

      @media screen and (max-width: 768px) {
        width: 60%;
      }
    }
  }

  &__btn {
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    width: 50%;
    margin: 1rem auto 0.5rem auto;
    padding: 0.5rem;
    border: none;
    border-radius: 20px;
    background-color: #107360;
    color: #fff;
    transition: all 0.2s;

    &:hover {
      background-color: #16a085;
      transform: scale(1.03);
      box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.3);
    }

    &:active {
      transform: scale(1);
      box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    opacity: 0.8;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}
