.debt-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba($color: #888, $alpha: 0.3);
  padding: 0.5rem 0;
  transition: all 0.2s;
  position: relative;

  &__notification {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 0.6rem;
    transform: translateY(-50%);

    &.plus-twelve {
      background-color: #c0392b;
    }

    &.plus-six {
      background-color: #d8890b;
    }
  }

  &:hover {
    background-color: rgba($color: #888, $alpha: 0.15);
  }

  &__actions,
  p {
    flex: 1;
    text-align: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      outline: none;
      cursor: pointer;
      color: inherit;
      padding: 4px 8px;
      background-color: transparent;
      border: 1px solid rgba($color: #888, $alpha: 0.4);
      border-radius: 3px;
      transition: background-color 0.3s;

      &:hover {
        color: #fff;
        background-color: #d8890b;
        transform: scale(1.03);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  #item-desc {
    flex: 3;
    text-align: left;
  }
}
