.debts-table {
  width: 90%;
  max-width: 65rem;
  height: 100%;
  max-height: 65vh;
  margin: 0 auto;
  border-radius: 10px;

  @media screen and (max-width: 1350px) {
    max-height: 50vh;
  }

  @media screen and (max-width: 1024px) {
    overflow-x: scroll;
    width: 100%;

    &::-webkit-scrollbar {
      height: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar {
      height: 0.5rem;
    }

    &:hover::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba($color: #888, $alpha: 0.3);
      border-radius: 15px;

      &:hover {
        background-color: rgba($color: #888, $alpha: 0.4);
      }
    }
  }

  @media screen and (orientation: landscape) and (max-width: 768px) {
    max-height: 100vh;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #eee;
    background-color: #d8890b;
    border-radius: 10px;

    @media screen and (max-width: 1024px) {
      min-width: 900px;
    }

    h3 {
      flex: 1;
      text-align: center;
      padding: 0.8rem 0;
    }

    #desc {
      flex: 3;
    }
  }

  &__content {
    padding: 1.5rem 0 0 0;
    height: calc(100% - 48px);
    overflow-y: scroll;

    @media screen and (max-width: 1024px) {
      min-width: 900px;
    }

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar {
      width: 0.6rem;
    }

    &:hover::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba($color: #888, $alpha: 0.3);
      border-radius: 15px;

      &:hover {
        background-color: rgba($color: #888, $alpha: 0.4);
      }
    }
  }
}
