.auth {
  display: flex;
  align-items: center;
  justify-content: center;

  &.dark {
    .auth__container {
      border-color: #333;

      &--switch .auth-btn {
        color: #fff;

        &.active {
          background-color: #16a085;
        }
      }
    }
  }

  &__container {
    width: 70%;
    height: 50%;
    min-height: 500px;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 3px 5px rgba($color: #000000, $alpha: 0.25);

    &--switch {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0.5rem;

      .auth-btn {
        outline: none;
        background: transparent;
        cursor: pointer;
        min-width: 6rem;
        font-size: 0.9rem;
        padding: 0.5rem;
        border: none;
        border: 1px solid #107360;
        transition: all 0.3s;

        &:hover {
          background-color: #1abe9e;
          color: #fff;
        }

        &.active {
          background-color: #107360;
          color: #fff;
        }

        &.left {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          transform: translateX(1px);
        }

        &.right {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
        }
      }
    }
  }
}
