.debts {
  &__top {
    width: 100%;
    margin-bottom: 4rem;
    position: relative;

    svg {
      width: 300px;
      height: auto;
      position: absolute;
      top: -1.7rem;
      right: 1rem;
    }
  }
}
