.date-picker {
  margin-bottom: 2rem;

  @media screen and (orientation: portrait) and (max-device-width: 480px) {
    margin-bottom: 0;
  }
}

.date {
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #16a085;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: all 0.2s;

  @media screen and (max-width: 768px) {
    margin-right: 0.25rem;
  }

  @media screen and (orientation: portrait) and (max-device-width: 480px) {
    margin-top: 0.7rem;
  }

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    outline: none;
  }

  &:focus {
    outline: none;
    border: 1px solid #16a085;
  }
}

.date-picker__btn {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 0 0.5rem;
  padding: 0.3rem 1.5rem;
  color: inherit;
  border: 1px solid #107360;
  border-radius: 5px;
  transition: all 0.2s;

  @media screen and (max-width: 768px) {
    margin: 0 0.3rem;
    padding: 0.25rem 1.2rem;
  }

  @media screen and (orientation: portrait) and (max-device-width: 480px) {
    margin-top: 0.7rem;
  }

  &:hover {
    background-color: #16a085;
    color: #fff;
  }
}

.date-picker__selected {
  margin-left: 0.5rem;
  color: #16a085;
  font-size: 1.3rem;

  @media screen and (max-width: 768px) {
    font-size: 1.15rem;
  }
}

.date-picker.dark {
  .date {
    color: #eee;

    &::-webkit-calendar-picker-indicator {
      outline: none;
      filter: invert(100%);
    }
  }
}
