.user {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__banner {
    width: 70%;
    max-width: 900px;
    min-height: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #555555a4;
    border-radius: 20px;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 95%;
    }

    @media screen and (orientation: portrait) and (max-device-width: 480px) {
      width: 100%;
      padding: 0.25rem;
      border-radius: 10px;
    }

    h2 {
      margin-left: 2rem;
      margin-bottom: 1rem;
      font-size: 2.5rem;

      @media screen and (orientation: portrait) and (max-device-width: 480px) {
        margin-left: 0.5rem;
        font-size: 2rem;
      }
    }

    svg {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;

      @media screen and (max-width: 900px) {
        width: 300px;
        height: auto;
      }

      @media screen and (orientation: portrait) and (max-device-width: 480px) {
        width: 100px;
        height: auto;
        right: 0;
        bottom: 0;
      }
    }
  }

  p {
    opacity: 0.7;
    margin-left: 2.5rem;
    margin-bottom: 0.5rem;

    @media screen and (orientation: portrait) and (max-device-width: 480px) {
      margin-left: 0.5rem;
    }

    span {
      margin-left: 5px;
    }
  }
}

.logout-btn {
  width: 20%;
  align-self: center;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  color: #fff;
  background-color: #c0392b;
  padding: 0.6rem 2.5rem;
  border: none;
  border-radius: 30px;
  margin: 1rem 0;
  transition: background-color 0.2s;

  @media screen and (orientation: portrait) and (max-device-width: 480px) {
    width: 70%;
  }

  &:hover {
    background-color: #a43125;
    transform: translateY(-2px);
    box-shadow: 3px 5px 7px rgba($color: #000000, $alpha: 0.25);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 1px 3px 5px rgba($color: #000000, $alpha: 0.2);
  }
}
