.app {
  height: 100%;
  width: 100%;
  display: flex;
  color: #333;
  position: relative;
  transition: all 0.3s;

  &.dark {
    background-color: #111;
    color: #eee;

    .sidebar {
      background-color: #16a085;
    }
  }

  .sidebar,
  .content {
    margin: 1rem;
    padding: 0.75rem;
    transition: all 0.3s;
  }

  .sidebar {
    width: 92px;
    padding: 1.5rem 0;
    transition: all 0.3s;
  }

  .sidebar.open {
    width: 225px;
  }

  .content {
    flex: 1;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #107360;
      border-radius: 15px;

      &:hover {
        background-color: #16a085;
      }
    }
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 5;
}
