.app {
  height: 100%;
  width: 100%;
  display: flex;
  color: #333;
  position: relative;

  .sidebar,
  .content {
    margin: 1rem;
    padding: 0.75rem;
  }

  .sidebar {
    width: 92px;
    padding: 1.5rem 0;
  }

  .content {
    flex: 1;
  }
}
