.app {
  height: 100%;
  width: 100%;
  display: flex;
  color: #333;
  position: relative;
  transition: all 0.3s;

  &.dark {
    background-color: #111;
    color: #eee;

    .sidebar {
      background-color: #16a085;
    }
  }

  .sidebar {
    margin: 1rem;
    margin-right: 0.4rem;
    //padding: 0.75rem;
    width: 92px;
    padding: 1.5rem 0;
    transition: all 0.3s;

    @media screen and (max-width: 1200px) {
      width: 75px;
    }

    @media screen and (max-width: 900px) {
      padding: 1rem 0;
      width: 60px;
    }

    @media screen and (max-width: 768px) {
      padding: 0.75rem 0;
      margin: 0.6rem;
      margin-right: 0.3rem;
    }

    @media screen and (orientation: portrait) and (max-device-width: 480px) {
      width: 50px;
    }
  }

  .sidebar.open {
    width: 225px;

    @media screen and (max-width: 1200px) {
      width: 180px;
    }

    @media screen and (max-width: 900px) {
      width: 140px;
    }

    @media screen and (orientation: portrait) and (max-device-width: 480px) {
      width: 125px;
    }
  }

  .content {
    flex: 1;
    overflow-y: scroll;
    margin: 0;
    padding: 1.25rem;
    transition: all 0.3s;

    @media screen and (max-width: 768px) {
      padding: 0.6rem;
    }

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar {
      width: 0.6rem;
    }

    &:hover::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: #16a08494;
      border-radius: 15px;

      &:hover {
        background-color: #16a084cc;
      }
    }
  }
}
