.stock {
  position: relative;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__img {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 300px;
    height: auto;

    @media screen and (max-width: 1200px) {
      width: 230px;
      height: auto;
    }

    @media screen and (max-width: 900px) {
      width: 170px;
      height: auto;
      right: 1rem;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
